{% extends 'base.html'%}

{% block title %}
Blog
{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}
<div class="container my-3">
    <h2>Coding Article by pythonX</h2>
    <div class="row my-3">
        {% for a in allPosts %}
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary" style="text-transform: capitalize">Article by {{a.author}}</strong>
                    <h3>{{a.title}}</h3>
                    <div class="mb-1 text-muted">{{a.timeStamp}}</div>
                    <p class="card-text mb-auto">{{a.content| truncatechars:180}}</p>
                    <a href="/blog/{{a.slug}}">Continue reading</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"2" and not forloop.last %}
            </div> <div class="row my-3">
        {% endif %}
    {%endfor%}
    </div>
</div>
{% endblock body %}